<div style="background-color: black;">
    <div id="skills" class="container">

        <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-braces"
                viewBox="0 0 16 16">
                <path
                    d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6" />
            </svg>
        </div>
        <div class="row">
            <h1>{{ 'SKILLS.TITLE' | translate }}</h1>
            <br><br><br>
            <hr>
            <br>
            <!-- LANGUAGES -->
            <div class="col-12 col-lg-6">
                <h3>{{ 'SKILLS.LANGUAGES' | translate }}</h3>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="C#"
                            href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">
                            <img src="assets/images/Logo_C_sharp.webp" class="img-thumbnail" alt="CSharp">
                        </a>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" title="Typescript" class="col-auto">
                        <a href="https://www.typescriptlang.org/" target="_blank">
                            <img src="assets/images/Logo_Typescript.webp" class="img-thumbnail" alt="TypeScript">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="Javascript"
                            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                            <img src="assets/images/Logo_Javascript.webp" class="img-thumbnail" alt="JavaScript">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <!-- DATABASES -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>{{ 'SKILLS.DB' | translate }}</h3>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="SQL Server"
                            href="https://www.microsoft.com/en-us/sql-server/" target="_blank">
                            <img src="assets/images/Logo_SQL_Server.webp" class="img-thumbnail" alt="SQLServer">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="Postgre SQL"
                            href="https://www.postgresql.org/" target="_blank">
                            <img src="assets/images/Logo_PostgreSQL.webp" class="img-thumbnail" alt="PostgreSQL">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>{{ 'SKILLS.FRAMEWORKS' | translate }}</h3>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="Angular" href="https://angular.dev/"
                            target="_blank">
                            <img src="assets/images/Logo_Angular.webp" class="img-thumbnail" alt="Angular">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="React" href="https://react.dev/"
                            target="_blank">
                            <img src="assets/images/Logo_React.webp" class="img-thumbnail" alt="React">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <!-- CLOUD -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>{{ 'SKILLS.CLOUD' | translate }}</h3>
            </div>
            <div class="col-12 col-lg-6">
                <div data-toggle="tooltip" data-placement="top" title="Azure" class="row">
                    <div class="col-auto">
                        <a href="https://azure.microsoft.com/en-us/resources/cloud-computing-dictionary/what-is-azure"
                            target="_blank">
                            <img src="assets/images/Logo_Azure.webp" class="img-thumbnail" alt="Azure">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <!-- OTHERS -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>{{ 'SKILLS.OTHERS' | translate }}</h3>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row gy-4">
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="Git"
                            href="https://azure.microsoft.com/en-us/products/devops" target="_blank">
                            <img src="assets/images/Logo_Git.webp" class="img-thumbnail" alt="Git">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="Azure DevOps"
                            href="https://azure.microsoft.com/en-us/products/devops" target="_blank">
                            <img src="assets/images/Logo_Azure_DevOps.webp" class="img-thumbnail" alt="Azure DevOps">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="Docker" href="https://www.docker.com/"
                            target="_blank">
                            <img src="assets/images/Logo_Docker.webp" class="img-thumbnail" alt="Docker">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="HTML"
                            href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                            <img src="assets/images/Logo_HTML.webp" class="img-thumbnail" alt="HTML">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a data-toggle="tooltip" data-placement="top" title="CSS"
                            href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                            <img src="assets/images/Logo_CSS3.webp" class="img-thumbnail" alt="CSS">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>