<div id="certifications" class="container">
    <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-code-slash"
            viewBox="0 0 16 16">
            <path
                d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0" />
        </svg>
    </div>
    <div class="row">
        <h1>{{ 'CERTIFICATIONS.TITLE' | translate }}</h1>
        <br><br><br>
        <hr>
        <br>
        <div class="container px-4 text-center">
            <div class="row">
                <a class="col-12 col-lg-4 border border-secondary p-3"
                    href="https://platzi.com/p/ysantoos/curso/2200-introduccion-azure/diploma/detalle/" target="_blank">
                    Introducción a la nube con Azure
                </a>
                <a class="col-12 col-lg-4 border border-secondary p-3"
                    href="https://platzi.com/p/ysantoos/curso/1359-c-sharp-2/diploma/detalle/" target="_blank">
                    C# con .NET Core
                </a>
                <a class="col-12 col-lg-4 border border-secondary p-3"
                    href="https://www.udemy.com/certificate/UC-2ddd66ab-f661-4a3d-958a-3cd86cfb0fbd/" target="_blank">
                    Angular: Pruebas unitarias con Jasmine y Karma
                </a>
            </div>
            <div class="row">
                <a class="col-12 col-lg-4 border border-secondary p-3"
                    href="https://platzi.com/p/yeison.garcia/curso/12192-course/diploma/detalle/" target="_blank">
                    Curso de Arquitectura de Software Aplicada
                </a>
                <a class="col-12 col-lg-4 border border-secondary p-3"
                    href="https://platzi.com/p/yeison.garcia/curso/4761-course/diploma/detalle/" target="_blank">
                    Curso de Principios SOLID en C# y .NET
                </a>
            </div>
        </div>
    </div>
</div>